<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Secret Santa</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link href='https://fonts.googleapis.com/css?family=Mountains of Christmas' rel='stylesheet'>
</head>

<body>
    <h1><span>Secret</span> Santa</h1>
    <div id="input-container">
        <form action="input_data" method="post">
            <label>Enter your name and price limit</label><br>
            <input type="text" id="firstName" name="firstName" placeholder="First Name"><br><br>
            <input type="text" id="lastName" name="lastName" placeholder="Last Name"><br><br>
            <input type="text" id="priceLimit" name="priceLimit" placeholder="Price Limit"><br><br>
            <label>Who do you most want to give a gift to?</label><br>
            <input type="text" id="preferedPersonFirstName" name="preferedPersonFirstName" placeholder="First Name"><br><br>
            <input type="text" id="preferedPersonLastName" name="preferedPersonLastName" placeholder="Last Name"><br><br>
            <label>Who do you least want to give a gift to?</label><br>
            <input type="text" id="leastPreferedPersonFirstName" name="leastPreferedPersonFirstName" placeholder="First Name"><br><br>
            <input type="text" id="leastPreferedPersonLastName" name="leastPreferedPersonLastName" placeholder="Last Name"><br><br>
            <button type="button" id="Enter" onclick="alert('Hello world!')">Enter</button><br><br>
            <button type="button" id="Assign" onclick="alert('Hello world!')">Assign</button><br><br>
        </form>
            <!-- <button type="button" id="Back" href="index.html">Back</button> -->
            <form action="back" method="get">
                <button>Back</button> 
        </form>
        <!-- TODO: On click for buttons -->
    </div>

    <div id="output-container">
        <!-- TODO: Display output here -->
    </div>

</body>

</html>