<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Secret Santa</title>
</head>

<body>
    <h1>Secret Santa</h1>
    <div id="input-container">
        <form action="input_data" method="post">
            <label>Enter your name and price limit</label><br>
            First name: <input type="text" id="firstName" name="firstName" required><br>
            Last name: <input type="text" id="lastName" name="lastName" required><br>
            Price limit: <input type="text" id="priceLimit" name="priceLimit" required><br>
            <br>
            <label>Who do you most want to give a gift to?</label>
            First name: <input type="text" id="preferedPersonFirstName" name="preferedPersonFirstName"><br>
            Last name: <input type="text" id="preferedPersonLastName" name="preferedPersonLastName"><br>
            <br>
            <label>Who do you least want to give a gift to?</label>
            First name: <input type="text" id="leastPreferedPersonFirstName" name="leastPreferedPersonFirstName"><br>
            Last name: <input type="text" id="leastPreferedPersonLastName" name="leastPreferedPersonLastName"><br>
            <button>Enter</button>
        </form>
        <!-- TODO: On click for buttons -->
        <button type="button" onclick="alert('Hello world!')">Assign gifts</button>
    </div>

    
    <div id="back">
        <a href="/">Back</a>
    </div>

    <div id="output-container">
        <!-- TODO: Display output here -->
    </div>

</body>

</html>