<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Secret Santa</title>
</head>

<body>
    <h1>Secret Santa</h1>
    <div id="input-container">
        <label>Enter your name and price limit</label><br>
        First name: <input type="text" id="firstName" name="firstName" required><br>
        Last name: <input type="text" id="lastName" name="lastName" required><br>
        Price limit: <input type="text" id="priceLimit" name="priceLimit" required><br>
        <button type="button" onclick="alert('Hello world!')">Enter</button>
        <!-- TODO: On click for buttons -->
        <button type="button" onclick="alert('Hello world!')">Assign gifts</button>
    </div>

    
    <div id="back">
        <a href="index.html">Back</a>
    </div>

    <div id="output-container">
        <!-- TODO: Display output here -->
    </div>

</body>

</html>